<h1>Welcome to <%= @crm_app_name%>!</h1>
<p>Main Menu</p>
<ul>
  <li><a href="/Contacts"></a>View all contacts</li>
  <li><a href="/Add"></a>Add a contact</li>
  <li><a href="/Delete"></a>Delete a Contact</li>
  <li><a href="/id"></a>Locate a contact by I.D.</li>
  <li><a href="/Search"></a>Search by Attribute</li>

</ul>
